body{
    font-family: Calibri, sans-serif;
}
* {
    box-sizing: border-box;

}

.ndv-top {
    width: 960px;
    margin: 11px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

.wrap {
    width: 940px;
    margin: auto;
}

.container {
    width: 960px;
    margin: auto;
}

.line {
    border-top: 1px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    color: #bebebe;
    height: 27px;
    margin-top: 23px;
}

.about-header img {
    vertical-align: middle;
    margin-right: 2px;
}

.about-header {
    margin-left: -10px;
    font-size: 14px;
    margin-bottom: 5px;
}

.about-header a {
    margin-right: 8px;
    color: black;
}

.about-image img {
    vertical-align: middle;
    margin-right: 5px;
}

.about {
    font-size: 14px;
    margin-left: -10px;
}

.about-info {
    margin-top: 30px;
}

.nvd-bg {
    border: 1px solid #e6e6e6;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 41%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 65%, rgba(229, 229, 229, 1) 150%);
    margin-bottom: 5px;
}

.ul-style {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.d-flex {
    display: flex;
}

.nav {
    margin-left: 45px;
    margin-top: 30px;
    margin-bottom: 32px;
}

.nav a {
    margin-right: 15px;
    color: #b1b1b1;
}


.login {
    margin-left: 190px;
}

.cabinet img {
    vertical-align: middle;
}

.cabinet {
    margin-top: 15px;
    font-size: 14px;
    margin-left: 15px;
}

.cabinet a {
    color: black;
}

.search {
    margin-top: 10px;
}

.search a {
    margin-right: 2px;
    color: #7b7b7b;
}

.nav-menu img {
    vertical-align: middle;
    margin-right: 2px;
}

.nav-menu ul li a {
    /*margin-right: 13px;*/
    font-weight: 300;
}

.nav-menu ul li a:nth-child(3) {
    /*margin: 0;*/
}

.nav-menu {
    margin: 20px auto;
}

.text {
    font-size: 14px;
}

.text span {
    color: #7b7b7b;
}

.nav-link {
    font-size: 14px;
    font-style: italic;
}

.nav-link a {
    margin-right: 10px;
}

.list a {
    margin-right: 12px;
    font-size: 14px;
}

.send-msg {
    font-size: 14px;
}

.send-msg button {
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 115px;
    cursor: pointer;
    margin-top: 14px;
    margin-left: 10px;
    background: -moz-linear-gradient(top, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%, rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100%);
}

.comment li {
    margin-bottom: 6px;
    font-size: 14px;
}

.box {
    width: 400px;
    height: 243px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: -10px;
    margin-top: 12px;
    margin-bottom: 8px;
    padding: 15px 10px;
}

.box button {
    cursor: pointer;
    background: white;
    border: none;
}

.box-in img {
    width: 140px;
    height: 100px;
    margin-right: 12px;
    vertical-align: middle;
    margin-bottom: 12px;
}

.box-in {
    width: 293px;
    height: 212px;
    margin: auto;
}


.table caption {
    font-weight: bold;
    text-align: left;
    margin: 5px 0;
    margin-left: -10px;
    line-height: 1;
}

.table tr td {
    font-size: 14px;
    line-height: 1;
    color: #7b7b7b;

}

.footer-banner {
    border-top: 1px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    text-align: center;
    margin-bottom: 25px;
}

.footer-banner img {
    vertical-align: middle;
    height: 58px;

}

.footer {
    width: 960px;
    margin: auto;
    font-size: 14px;
}

.footer a {
    font-style: italic;
    margin-right: 8px;
    color: black;
}

.footer p {
    font-size: 12px;
    margin-top: 16px;
}

.footer li {
    border-right: 1px solid black;
    margin-right: 8px;
}

.footer li:nth-child(7) {
    border-right: none;
}

.designer img {
    vertical-align: middle;
    margin-right: 2px;
}

.slider {
    width: 960px;
    margin: auto;
}

.slider button {
    cursor: pointer;
    background: white;
    border: none;
    height: 63px;
    margin-top: 35px;
}

.slider li {
    margin-right: 42px;
}

.slider a {
    color: black;
}

#carusel {
    width: 293px;
    overflow: hidden;
    margin: auto;
}

#polos {
    position: relative;
    left: 0;
    right: 0;
    transition: all ease 1s;
}

#slider {
    width: 866px;
    overflow: hidden;
    margin: 13px auto;
}

#slider img {
    width: 140px;
    height: 100px;
}

#polosa {
    position: relative;
    left: 0;
    right: 0;
    transition: all ease 1s;
    margin-bottom: 37px;
}

/*rating*/
.rating {
    margin: 0 0 1em 0;
    padding: 0;
    border: none;
    margin-top: 9px;
}

.info h3 {
    margin: 0;
    margin-right: 10px;
    font-size: 20px;
}

/* Group */
.rating__group {
    position: relative;
    width: 75px;
    height: 15px;
    background-image: url(../image/off.svg);
    background-size: 15px 15px;
    background-repeat: repeat-x;
    margin-top: -4px;
    margin-left: 4px;
}

.rating__star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 15px;
    height: 15px;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 15px 15px;
    background-repeat: repeat-x;
}

.rating__star:focus {
    outline: none;
}

.rating__star:hover,
.rating__star:checked {
    background-image: url(../image/on.svg);
    cursor: pointer;
}

.rating__star:hover ~ .rating__star {
    background-image: url(../image/off.svg);
}

.description {
    font-size: 14px;
}

.description b {
    font-size: 20px;
    color: #a50100;
}

/* Options */

.rating__star:nth-of-type(1) {
    z-index: 5;
    width: 15px;
}

.rating__star:nth-of-type(2) {
    z-index: 4;
    width: 30px;
}

.rating__star:nth-of-type(3) {
    z-index: 3;
    width: 45px;
}

.rating__star:nth-of-type(4) {
    z-index: 2;
    width: 60px;
}

.rating__star:nth-of-type(5) {
    z-index: 1;
    width: 75px;
}